::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(102, 102, 102, 0.5);
}

/* Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  } */